#################
## Cabal
#################

.cabal-sandbox
cabal.sandbox.config
dist/

#################
## Clafer Wiki
#################

gitit.log
*.cfr
static/clafer/output.txt
static/clafer/*.html

#################
## Haskell
#################

.stack-work
tags
*.hi
*.o

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

## Sublime Text 2
*.sublime*
